.hero_bg_img {
  background-image: url(../src/assets/img/png/hero-background-img.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.shadow_input{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}